<div class="center hero-unit">
  <h1>Welcome to the Purchase Request System</h1>

  <h2>
    More details to come
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>