<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
	<%= render 'layouts/header'%>
    <div class="container">
      <%= yield %>
	  <%= render 'layouts/footer'%>
    </div>
  </body>
</html>